@import "~toastify-js/src/toastify.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: rgb(58, 57, 57);
}

h1 {
  font-size: 1.6em;
  line-height: 1.1;
  font-family: "Roboto", monospace;
}

#button_area {
  margin: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
}

#canvas_wrap {
  text-align: center;
  cursor: grab;
  overflow: auto;
}

#too_small_message {
  display: none;
  color: red;
  font-family: "Roboto", monospace;
}

#resume_canvas {
  border: 1px solid black;
}

#controls {
  position: relative;
  top: 10px;
  display: flex;
  justify-content: center;
  gap: 4px;
}

/*
  Classes
*/

.attention {
  border: 2px solid red;
}

.zoom_btn:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.toast {
  font-family: "Roboto", monospace !important;
}

/*
  Links
*/

a {
  text-decoration: none;
  color: #0074D9;
}

.underline {
  position: relative;
}

.underline::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #298be0;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

/*
  Dialog
*/

.dialog-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.dialog-container[aria-hidden="true"] {
  display: none;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(43, 46, 56, 0.9);
  animation: fade-in 200ms both;
}

.dialog-content {
  background-color: rgb(255, 255, 255);
  margin: auto;
  z-index: 2;
  position: relative;
  animation: fade-in 400ms 200ms both, slide-up 400ms 200ms both;
  padding: 1em;
  max-width: 90%;
  width: 600px;
  border-radius: 2px;
}

@media screen and (min-width: 700px) {
  .dialog-content {
    padding: 2em;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(10%);
  }
}

.dialog h1 {
  margin: 0;
  font-size: 1.25em;
}

#links_area {
  align-items: flex-start;
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: "Roboto", monospace;
}

/*
  Github Button
*/

.btn {
  position: relative;
  color: rgb(255, 255, 255);
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  text-align: center;
  font-family: "Roboto", monospace;
  font-weight: 100;
}

.btn span {
  transition: all 0.3s;
  tranform: scale(1, 1);
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-one::before {
  z-index: 1;
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 1);
}

.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-one::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-one:hover {
  cursor: pointer;
}

.btn-one:hover::after {
  transform: scale(1, 0.1);
  opacity: 0;
}

/*
 Media
*/

@media only screen and (max-width: 750px) {
  .btn {
    width: 140px;
    height: 60px;
  }
}

@media only screen and (max-width: 500px) {
  #canvas_wrap {
    overflow: auto;
  }
}