@import "~toastify-js/src/toastify.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  height: 100%;
  width: 100%;
}

p {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: rgb(58, 57, 57);
}

#button_area {
  margin: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
}

#canvas_wrap {
  text-align: center;
  cursor: grab;
  overflow: auto;
}

#too_small_message {
  display: none;
  color: red;
  font-family: "Lucida Console", "Courier New", monospace;
}

#resume_canvas {
  border: 1px solid black;
}

#controls {
  position: relative;
  top: 12px;
  display: flex;
  justify-content: center;
  gap: 4px;
}

/*
 BUTTON STYLING
*/

.zoom_btn:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.btn {
  position: relative;
  color: rgb(255, 255, 255);
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
}

.btn span {
  transition: all 0.3s;
  tranform: scale(1, 1);
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-one::before {
  z-index: 1;
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 1);
}

.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-one::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-one:hover {
  cursor: pointer;
}

.btn-one:hover::after {
  transform: scale(1, 0.1);
  opacity: 0;
}

/*
 Media
*/

@media only screen and (max-width: 750px) {
  .btn {
    width: 140px;
    height: 60px;
  }
}

@media only screen and (max-width: 500px) {
  #canvas_wrap {
    overflow: auto;
  }
}